.body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.background-blur {
  position: fixed;
  inset: 0;
  background: url('img1.jpeg') center/cover no-repeat;
  filter: blur(2px);
  z-index: -2;
}

.background-blur::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0) 50%);
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 1;
}
.meu-botao {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
  </style>
</head>